<!DOCTYPE html>
<html lang="en">
<head>
    /* File: about.ejs
    Author: Mao Tabuchi
    Student ID: 301266182
    Date: September 30, 2023 */ 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/about.css" rel="stylesheet" type="text/css">

    <title>About Me</title>
    <style>

    </style>
</head>
<body>
    <header>
    <ul class="navbar">
        <!-- Navigation links -->
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/products">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <header class="content">
        <img src="/img/new_logo.png" alt="logo" style="width: 50px; height: 50px; margin-left: 1467px;">
        <h1>About Me</h1>
    </header>

    <section class="content">
        <h2><br></h2>
        <img src="/img/profile.jpg" alt="Your Photo" style="width: 200px; height: 200px;">
        <p>Hello, I'm Mao Tabuchi.</p>
        <p>I am a student at Centennial college. My program is software enigneering techinitian</p>
    </section>


    <section class="content">
        <h2><br></h2>
        <h2>Resume</h2>
        <p>You can download my <a href="/Assets/resume ex.pdf" target="_blank">Resume (PDF)</a> for more information.</p>
    </section>


</body>
</html>
