<!DOCTYPE html>
<html lang="en">
<head>
    /* 
    File: products.ejs
    Author: Mao Tabuchi
    Student ID: 301266182
    Date: September 30, 2023
 */ 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/products.css" rel="stylesheet" type="text/css">

    <title>Projects</title>
    <style>
    </style>
</head>
<body>
    <ul class="navbar">
        <!-- Navigation links -->
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/products">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <img src="/img/new_logo.png" alt="logo" style="height: 50px; width: 50px; margin-left: 1450px;">

    <header>
    <h1 class="h1">Highlighted Projects</h1>
    </header>   
    <!-- Project 1 -->

    <main><
    <div class="project-item">
        <h2>Project 1</h2>
        <img src="/img/project1.jpg" alt="Project 1 Image">
        <p>
            This is the specification of Project 1.
            Design mobile application
        </p>
    </div>

    <!-- Project 2 -->
    <div class="project-item">
        <h2>Project 2</h2>
        <img src="/img/project2.jpg" alt="Project 2 Image">
        <p>
            This is the meeting of Project 2.
        </p>
    </div>

    <!-- Project 3 -->
    <div class="project-item">
        <h2>Project 3</h2>
        <img src="/img/project3.jpg" alt="Project 3 Image">
        <p>
            This is the coding of Project 3.
        </p>
    </div>
    </main> 
    <footer></footer>


</body>
</html>