<!DOCTYPE html>
<html lang="en">
<head>
    /* 
    File: services.ejs
    Author: Mao Tabuchi
    Student ID: 301266182
    Date: September 30, 2023
 */ 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/services.css" rel="stylesheet" type="text/css">

    <title>Services</title>
    <style>
    </style>
</head>
<body>
    <ul class="navbar">
        <!-- Navigation links -->
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/products">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <img src="/img/new_logo.png" alt="logo" style="height: 50px; width: 50px; margin-left: 1467px;">

    <!--------------------Servie List-------------------------->
    <main>
    <div class="services-container">
        <!-- Service 1 -->
        <div class="service-item">
            <img src="/img/service1.jpg" alt="Service 1">
            <h2>Programming</h2>
            <p>Our team of experts can help you with general programming tasks, making your projects efficient and error-free.</p>
        </div>

        <!-- Service 2 -->
        <div class="service-item">
            <img src="/img/service2.jpg" alt="Service 2">
            <h2>Network</h2>
            <p>We specialize in creating stunning and functional network tailored to your unique needs and requirements.</p>
        </div>

        <!-- Service 3 -->
        <div class="service-item">
            <img src="/img/service3.jpg" alt="Service 3">
            <h2>Mobile Apps</h2>
            <p>Transform your ideas into user-friendly mobile applications that engage and delight your audience.</p>
        </div>
    </div>
    </main> 
    <footer></footer>
</body>
</html>