<!DOCTYPE html>
<html lang="en">
<head>
    /* 
    File: index.ejs
    Author: Mao Tabuchi
    Student ID: 301266182
    Date: September 30, 2023
 */
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/index.css" rel="stylesheet" type="text/css">
    <script src="/Scripts/index.ejs"></script>

    <title>Document</title>
<style>
   
</style>
</head>
<body>
    <header>
        <ul class="navbar">
            <!-- Navigation links -->
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/products">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <img src="/img/new_logo.png" alt="logo" style="height: 50px; width: 50px; margin-left: 1467px;">
        </header>
    
        <main>
        <section class="content">
        <h1>Welcome To <%= title %>page </h1>
        <br>
        <p>Welcome to my webpage. I hope you enjoy this website</p>
        <br>
        <a href="/about">For more infomation</a>

        <button onclick="showAlert()">Show Alert</button>
        <button onclick="changeText()">Change Text</button>
        <p id="demoParagraph">This is a demo paragraph.</p>

        </section>
        </main>
    
      <footer>
        <section class="statement">
        <h1>Mission Statement</h1>
        <p>At my website, my mission is to respect all people and foster meaningful connections. 
        <br>    
        I believe I provide valuable resources to our community.
        <br>
        Join us on our journey as we work towards positive impact on the world.
        <br> 
        Thank you for being a part of our mission."
        </p>
        </section>
      </footer>
    </body>
</html>
   